<!DOCTYPE html>
<html lang="en" xmlns:="www.thymeleaf.org" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>List</title>

    <!-- Bootstrap core CSS -->
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="../../css/grayscale.min.css" rel="stylesheet">

</head>
<body>


<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">Start Bootstrap</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu
            <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/add">Add a student</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Intro Header -->
<header class="masthead">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h1 class="brand-heading">Student Database</h1>
                    <p class="intro-text">Welcome!</p>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-secondary">Students List
                            <table>
                                <tr>
                                    <th>First Name</th>
                                    <th>Last Name</th>
                                    <th>E-Mail</th>
                                    <th>Phone #</th>
                                    <th>School</th>
                                </tr>

                                <tr th:each="student : ${students}">
                                    <td th:text="${student.fname}"></td>
                                    <td th:text="${student.lname}"></td>
                                    <td th:text="${student.email}"></td>
                                    <td th:text="${student.phone}"></td>
                                    <td th:text="${student.school}"></td>
                                    <td>
                                        <a th:href="@{/update/{id}(id=${student.id})}">Update</a> -
                                        <a th:href="@{/delete/{id}(id=${student.id})}">Delete</a>
                                    </td>
                                </tr>
                            </table>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</header>


</body>
</html>

